<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<div class="container-fluid col-md-12">
    <mat-card>
        <h1>Formulaire d'ajout de groupe</h1>
        <form class="ajoutGroupe" id="ajoutGroupe" (submit)="addGroupe($event)">

            <h2>Informations générales</h2>

            <!--<div>-->
            <!--<label>Utilisateur : </label>-->
            <!--<input type="text" [(ngModel)]="" value="">-->
            <!--</div>-->

            <!--//////////////////////////////////////////////////////-->
            <!--//                  NOM                             //-->
            <!--//////////////////////////////////////////////////////-->

            <mat-form-field class="input-full-width">
                <input matInput [(ngModel)]="groupe.nom" required minlength="3" maxlength="100" #nom="ngModel"
                       name="groupe.nom" placeholder="Nom du groupe">
                <mat-error *ngIf="nom.invalid && (nom.dirty || nom.touched) && nom.hasError('required')">Le nom du
                    groupe est requis.
                </mat-error>
                <mat-error *ngIf="nom.invalid && (nom.dirty || nom.touched) && nom.hasError('minlength')">Le nom du
                    groupe doit
                    contenir au moins 3 caractères.
                </mat-error>
                <mat-error *ngIf="nom.invalid && (nom.dirty || nom.touched) && nom.hasError('maxlength')">Le nom du
                    groupe doit
                    contenir au maximum 100 caractères.
                </mat-error>
            </mat-form-field>

            <!--//////////////////////////////////////////////////////-->
            <!--//                  DESCRIPTION                     //-->
            <!--//////////////////////////////////////////////////////-->

            <mat-form-field class="input-full-width">
                <textarea matInput [(ngModel)]="groupe.description" maxlength="100" #description="ngModel"
                          name="groupe.description"
                          placeholder="Description, à qui s'adresse le groupe. Quel en est le but?">
                <mat-error
                        *ngIf="description.invalid && (description.dirty || description.touched) && description.hasError('maxlength')">La description doit
                    contenir au maximum 100 caractères.
                </mat-error>
                </textarea>
            </mat-form-field>

            <!--//////////////////////////////////////////////////////-->
            <!--//                  DATE DE FERMETURE               //-->
            <!--//////////////////////////////////////////////////////-->

            <mat-form-field>
                <input matInput [matDatepicker]="picker" [(ngModel)]="groupe.date_fin" name="groupe.date_fin"
                       placeholder="Date de fermeture">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <br>

            <!--//////////////////////////////////////////////////////-->
            <!--//                  ACTIF                           //-->
            <!--//////////////////////////////////////////////////////-->

            <div class="input-height">
                <mat-radio-group [(ngModel)]="groupe.actif" required #actif="ngModel" name="groupe.actif">
                    <mat-radio-button value="true">Actif</mat-radio-button>
                    <mat-radio-button value="false">Inactif</mat-radio-button>
                    <mat-error *ngIf="actif.invalid && (actif.dirty || actif.touched) && actif.hasError('required')">Le
                        statut d'activité est obligatoire.
                    </mat-error>
                </mat-radio-group>
            </div>

            <!--//////////////////////////////////////////////////////-->
            <!--//                  PUBLIC                          //-->
            <!--//////////////////////////////////////////////////////-->

            <div class="input-height">
                <mat-radio-group [(ngModel)]="groupe.est_publique" required #publique="ngModel"
                                 name="groupe.est_publique">
                    <mat-radio-button value="true">Publique</mat-radio-button>
                    <mat-radio-button value="false">Privé</mat-radio-button>
                    <mat-error
                            *ngIf="publique.invalid && (publique.dirty || publique.touched) && publique.hasError('required')">
                        Le statut de visibilité est obligatoire.
                    </mat-error>
                </mat-radio-group>
            </div>

            <!--//////////////////////////////////////////////////////-->
            <!--//                  COMMENTAIRE                     //-->
            <!--//////////////////////////////////////////////////////-->

            <div class="input-height">
                <mat-radio-group [(ngModel)]="groupe.commenter" required #commenter="ngModel" name="groupe.commenter">
                    <mat-radio-button value="true">Avec commentaire(s)</mat-radio-button>
                    <mat-radio-button value="false">Sans commentaire</mat-radio-button>
                    <mat-error
                            *ngIf="commenter.invalid && (commenter.dirty || commenter.touched) && commenter.hasError('required')">
                        Le choix d'une possibilité de commenter est obligatoire.
                    </mat-error>
                </mat-radio-group>
            </div>

            <h2>Utilisateurs</h2>

            <!--//////////////////////////////////////////////////////-->
            <!--//                  PROGRAMMES                      //-->
            <!--//////////////////////////////////////////////////////-->

            <mat-form-field class="input-full-width">
                <mat-select placeholder="Programmes" [(ngModel)]="groupe.programmes" multiple id="groupe.programmes"
                            name="groupe.programmes">
                    <mat-option *ngFor="let programme of programmes" value="{{programme._id}}">{{programme.nom}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!--//////////////////////////////////////////////////////-->
            <!--//                  CLASSES                         //-->
            <!--//////////////////////////////////////////////////////-->

            <mat-form-field class="input-full-width">
                <mat-select placeholder="Classes" [(ngModel)]="groupe.classes" multiple id="groupe.classes"
                            name="groupe.classes">
                    <mat-option *ngFor="let classe of classes" value="{{classe._id}}">{{classe.nom}}</mat-option>
                </mat-select>
            </mat-form-field>

            <!--//////////////////////////////////////////////////////-->
            <!--//                  TYPES                           //-->
            <!--//////////////////////////////////////////////////////-->

            <mat-form-field class="input-full-width">
                <mat-select placeholder="Types" [(ngModel)]="groupe.types" multiple id="groupe.types"
                            name="groupe.types">
                    <mat-option *ngFor="let type of types" value="{{type._id}}">{{type.nom}}</mat-option>
                </mat-select>
            </mat-form-field>

            <!--//////////////////////////////////////////////////////-->
            <!--//                  UTILISATEURS                    //-->
            <!--//////////////////////////////////////////////////////-->

            <mat-form-field class="input-full-width">
                <mat-select placeholder="Utilisateurs" [(ngModel)]="groupe.utilisateurs" multiple
                            id="groupe.utilisateurs" name="groupe.types">
                    <mat-option *ngFor="let utilisateur of utilisateurs" value="{{utilisateur._id}}">
                        {{utilisateur.nom}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <h2>Administration</h2>

            <!--//////////////////////////////////////////////////////-->
            <!--//                  SUPER ADMINISTRATEUR            //-->
            <!--//////////////////////////////////////////////////////-->

            <mat-form-field class="input-full-width">
                <mat-select placeholder="Super-Administrateur" [(ngModel)]="groupe.super_admins" multiple
                            id="groupe.super_admins" name="groupe.super_admins">
                    <mat-optgroup [label]="Classes">
                        <ng-container *ngFor="let classeSelected of groupe.classes">
                            <ng-container *ngFor="let classe of classes">
                                <mat-optgroup *ngIf="classe._id==classeSelected" [label]="classe.nom">
                                    <ng-container *ngFor="let utilisateurID of classe.utilisateurs">
                                        <ng-container *ngFor="let utilisateur of utilisateurs">
                                            <mat-option *ngIf="classe.utilisateurs.length>0 && utilisateur._id == utilisateurID"
                                                        value="{{utilisateur._id}}">
                                                {{utilisateur.prenom}}, {{utilisateur.nom}}
                                            </mat-option>
                                        </ng-container>
                                    </ng-container>
                                </mat-optgroup>
                            </ng-container>
                        </ng-container>
                    </mat-optgroup>
                </mat-select>
            </mat-form-field>

            {{utilisateur.nom}}

            <!--//////////////////////////////////////////////////////-->
            <!--//                  ADMINISTRATEUR                  //-->
            <!--//////////////////////////////////////////////////////-->

            <!--<mat-form-field class="input-full-width">-->
            <!--<mat-select placeholder="Administrateur" [(ngModel)]="groupe.utilisateurs" multiple id="groupe.utilisateurs" name="groupe.types">-->
            <!--<mat-option *ngFor="let utilisateur of utilisateurs" value="{{utilisateur._id}}">{{utilisateur.nom}}</mat-option>-->
            <!--</mat-select>-->
            <!--</mat-form-field>-->

            <input type="submit" value="Ajouter">
        </form>
    </mat-card>
</div>


<pre>user = {{groupe | json}}</pre>

<div>
    <div *ngFor="let groupe of groupes">
        <div> ID : {{groupe._id}} Nom : {{groupe.nom}} Date de fin : {{groupe.date_fin}} Description :
            {{groupe.description}}
        </div>
    </div>
</div>
