<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<div class="container-fluid col-md-12">
    <h1>Formulaire d'ajout de groupe</h1>
    <form class="ajoutGroupe" id="ajoutGroupe" (submit)="addGroupe($event)">

        <h2>Informations générales</h2>

        <!--//////////////////////////////////////////////////////-->
        <!--//                  NOM                             //-->
        <!--//////////////////////////////////////////////////////-->
        <div class="form-group row">
            <label class="col-md-2 required">
                Nom :
            </label>
            <input type=text [(ngModel)]="groupe.nom" placeholder="Nom du groupe" autofocus class="form-control col-md-10" id="nom" name="nom" ng-minlength="2" >
        </div>
        <!--//////////////////////////////////////////////////////-->
        <!--//                  DESCRIPTION                     //-->
        <!--//////////////////////////////////////////////////////-->
        <div class="form-group row">
            <label class="col-md-2">
                Description :
            </label>
            <textarea [(ngModel)]="groupe.description" placeholder="Description" class="form-control col-md-10" id="description" name="description"
                      form="ajoutGroupe" style="resize:none"></textarea>
        </div>
        <!--//////////////////////////////////////////////////////-->
        <!--//                  DATE DE FERMETURE               //-->
        <!--//////////////////////////////////////////////////////-->
        <div class="form-group row">
            <label class="col-md-2">
                Date de fermeture du groupe :
            </label>
            <input type="datetime-local" [(ngModel)]="groupe.date_fin" class="form-control col-md-10" id="dateFermeture" name="dateFermeture">
        </div>
        <!--//////////////////////////////////////////////////////-->
        <!--//                  ACTIF                           //-->
        <!--//////////////////////////////////////////////////////-->
        <div class="form-group row">
            <label class="col-md-2 required">
                Actif :
            </label>
            <div class="col-md-10">
                <input type=checkbox [(ngModel)]="groupe.actif" name="actif" value="true" name="actif"><br>
            </div>
        </div>
        <!--//////////////////////////////////////////////////////-->
        <!--//                  PUBLIC                          //-->
        <!--//////////////////////////////////////////////////////-->
        <div class="form-group row">
            <label class="col-md-2 required">
                Public :
            </label>
            <div class="col-md-10">
                <input type=checkbox [(ngModel)]="groupe.est_publique" name="public" value="true" name="public"><br>
            </div>
        </div>
        <!--//////////////////////////////////////////////////////-->
        <!--//                  COMMENTAIRE                     //-->
        <!--//////////////////////////////////////////////////////-->
        <div class="form-group row">
            <label class="col-md-2 required">
                Section commentaires :
            </label>
            <div class="col-md-10">
                <input type=checkbox [(ngModel)]="groupe.commenter" value="true" name="commentaire"><br>
            </div>
        </div>

        <h2>Utilisateurs</h2>
        <!--//////////////////////////////////////////////////////-->
        <!--//                  PROGRAMMES                      //-->
        <!--//////////////////////////////////////////////////////-->
        <div class="form-group row">
            <label class="col-md-2">
                Programmes :
            </label>
            <div class="col-md-10">
                <select multiple class="form-control" [(ngModel)]="groupe.programmes" id="programmes" name="programmes">
                    <option *ngFor="let programme of programmes" value="{{programme._id}}">{{programme.nom}}</option>
                </select>
            </div>
        </div>
        <!--//////////////////////////////////////////////////////-->
        <!--//                  CLASSES                         //-->
        <!--//////////////////////////////////////////////////////-->
        <div class="form-group row">
            <label class="col-md-2">
                Classe :
            </label>
            <div class="col-md-10">
                <select multiple class="form-control" [(ngModel)]="groupe.classes" id="classes" name="classes">
                    <option *ngFor="let classe of classes" value="{{classe._id}}">{{classe.nom}}</option>
                </select>
            </div>
        </div>
        <!--//////////////////////////////////////////////////////-->
        <!--//                  TYPES                           //-->
        <!--//////////////////////////////////////////////////////-->
        <div class="form-group row">
            <label class="col-md-2">
                Type :
            </label>
            <div class="col-md-10">
                <select multiple class="form-control" [(ngModel)]="groupe.types" id="types" name="types">
                    <option *ngFor="let type of types" value="{{type._id}}">{{type.nom}}</option>
                </select>
            </div>
        </div>
        <!--//////////////////////////////////////////////////////-->
        <!--//                  UTILISATEURS                    //-->
        <!--//////////////////////////////////////////////////////-->
        <div class="form-group row">
            <label class="col-md-2">
                Utilisateurs :
            </label>
            <div class="col-md-10">
                <select multiple class="form-control" [(ngModel)]="groupe.utilisateurs" id="utilisateur" name="utilisateur">
                    <option>Paul Houde</option>
                    <option>Ginette Reno</option>
                    <option>Hélène Bourgeois</option>
                    <option>Madonna Dion</option>
                </select>
            </div>
        </div>
        <h2>Administration</h2>

        <!--//////////////////////////////////////////////////////-->
        <!--//                  SUPER ADMINISTRATEUR            //-->
        <!--//////////////////////////////////////////////////////-->
        <div class="form-group row">
            <label class="col-md-2">
                Super administrateur :
            </label>
            <div class="col-md-10">
                <select multiple class="form-control" [(ngModel)]="groupe.super_admins" id="super_admin" name="super_admin">
                    <option>Paul Houde</option>
                    <option>Ginette Reno</option>
                    <option>Hélène Bourgeois</option>
                    <option>Madonna Dion</option>
                </select>
            </div>
        </div>
        <!--//////////////////////////////////////////////////////-->
        <!--//                  ADMINISTRATEUR                  //-->
        <!--//////////////////////////////////////////////////////-->
        <div class="form-group row">
            <label class="col-md-2">
                Administrateur :
            </label>
            <div class="col-md-10">
                <select multiple class="form-control" [(ngModel)]="groupe.admins" id="admin" name="admin">
                    <option>Paul Houde</option>
                    <option>Ginette Reno</option>
                    <option>Hélène Bourgeois</option>
                    <option>Madonna Dion</option>
                </select>
            </div>
        </div>
        <input type="submit" value="Ajouter">
    </form>
</div>

<pre>user = {{groupe | json}}</pre>


