<button mat-raised-button (click)="getPublications()">Trier par date de publication</button>
<button mat-raised-button (click)="getDateRemise()">Trier par date de remise</button>

<div class="publications box">
    <ul class="publications">
        <a routerLink="/publications/ajout"><button mat-button><i class="material-icons ajout">alarm_add</i></button></a>
        <div *ngFor="let publication of publications">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title><span>{{publication.auteur}}</span></mat-card-title>

                    <mat-card-subtitle><span>{{publication.date_publication | date:'dd-MM-yyyy HH:MM:ss'}}</span> </mat-card-subtitle>

                    <mat-card-subtitle>
                        <p class="alignleft"> Groupe: {{publication.groupe}}</p>
                    </mat-card-subtitle>

                </mat-card-header>
                <mat-card-content>
                    <p>
                        <span>{{publication.contenu}}</span>
                    </p>
                    <mat-card-subtitle>
                        <p style="text-align:left;">
                            <span> Remise :{{publication.date_remise | date:'dd-MM-yyyy HH:MM:ss'}}</span>
                            <span style="float:right;"> Fichier(s): {{publication.fichier}}   </span>
                        </p>
                    </mat-card-subtitle>

                    <mat-chip-list *ngFor="let tag of publication.tags">
                        <mat-chip>{{tag}}</mat-chip>
                </mat-chip-list>

                    Commentaire(s): {{publication.commentaire}}
                </mat-card-content>

                <mat-card-footer>

                </mat-card-footer>
            </mat-card>
        </div>
    </ul>

</div>