<button mat-raised-button (click)="getPublications()">Trier par date de publication</button>
<button mat-raised-button (click)="getDateRemise()">Trier par date de remise</button>

<div class="publications box">
    <ul class="publications">
        <a routerLink="/publications/ajout"><button class="ajout" mat-fab>+</button></a>

        <form>
            <mat-form-field>
                <input matInput [matAutocomplete]="auto" placeholder="Chercher un tag...">
                <mat-autocomplete #auto="matAutocomplete">
                    <div  *ngFor="let publication of publications">
                        <mat-option *ngFor="let tag of publication.tags" [value]="tag" (click)="getTags(tag)">
                            <span>{{ tag }}</span>
                        </mat-option>
                    </div>
                </mat-autocomplete>
            </mat-form-field>
        </form>

        <!--<form>-->
            <!--<mat-form-field>-->
                <!--<input matInput [matAutocomplete]="auto" placeholder="Chercher un groupe...">-->
                <!--<mat-autocomplete #auto="matAutocomplete">-->
                    <!--<div >-->
                        <!--<mat-option *ngFor="let tag of utilisateur.groupes" [value]="tag" onselect="getTags(tag)">-->
                            <!--<span>{{ tag }}</span>-->
                        <!--</mat-option>-->
                    <!--</div>-->
                <!--</mat-autocomplete>-->
            <!--</mat-form-field>-->
        <!--</form>-->

        <div *ngFor="let publication of publications">

            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title class="auteur"><span>{{publication.auteur}}</span></mat-card-title>
                    <button mat-button="" (click)="deletePublication(publication)" class="bouton"><span class=""><i _ngcontent-c1="" class="material-icons">delete</i></span></button>
                    <mat-card-title><span>{{publication.titre}}</span></mat-card-title>
                    <mat-card-subtitle><span>{{publication.date_publication | date:'dd-MM-yyyy HH:MM:ss'}}</span> </mat-card-subtitle>

                    <mat-card-subtitle>
                        <p class="alignleft"> Groupe:</p><p *ngFor="let groupe of publication.groupes">{{groupe.nom}}</p>
                    </mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <p>
                        <span>{{publication.contenu}}</span>
                    </p>

                    <mat-card-subtitle>
                        <p style="text-align:left;">
                            <span> Remise :{{publication.date_remise | date:'dd-MM-yyyy HH:MM:ss'}}</span>
                            <span style="float:right;"> Fichier(s): {{publication.fichier}}   </span>
                        </p>
                    </mat-card-subtitle>

                    <mat-chip-list>
                        <label>Tags: </label>
                        <mat-chip  *ngFor="let tag of publication.tags">{{tag}}</mat-chip>
                    </mat-chip-list>

                </mat-card-content>

                <mat-list>
                    <mat-label>Commentaire(s): </mat-label>
                    <mat-list-item >
                        <span>{{publication.commentaire}}</span>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>

            </mat-card>

            <form  #postFormAjoutCommentaire="ngForm" id="postForm" (ngSubmit)="ajoutCommentaire(publication)">
                <mat-form-field>
                        <input [(ngModel)]="commentaire" name="commentaire" matInput placeholder="Ajouter un commentaire">
                </mat-form-field>
                <input  type="submit" value="Publier" (click)="ajoutCommentaires()">
            </form>
            
        </div>
    </ul>
</div>
