<div class="errors" *ngIf="reponseValidateToken.Code > 1" >
  <div role="alert" class="message" id="reponseValidateToken">
    {{reponseValidateToken.Message}}
  </div>
  <br/>
  <div>
    <span class="link forgot-password">
      <a routerLink="/motdepasse-oublie">
        Je veux faire une nouvelle demande de réinitialisation.
      </a>
    </span>
  </div>
</div>

<div class="card reset-password">
  <div *ngIf="reponseValidateToken.Code == 1 && reponseAPI.code != 1">

  <form class="auth-form reset-password" name="resetpasswordForm" novalidate="" #resetForm="ngForm" (ngSubmit)="onSubmit()">

    <div class="row labels">
      <h2>Nouveau mot de passe</h2>
      <h3>
        Il est temps de créer votre nouveau mot de passe.
      </h3>
    </div>

    <div class="row password">
      <input type="password" name="password"
            required autofocus autocomplete = "off"
            pattern=".{8,}" minlength="8"
            title="Votre mot de passe doit inclure au moins 8 caractères et contenir des lettres minuscules et majuscules, des nombres ou des caractères spéciaux (par exemple, !, # ou $)."
            placeholder="Nouveau mot de passe"
            [(ngModel)]="password"
            #form_password="ngModel" />
    </div>

    <div *ngIf="form_password.invalid && (form_password.dirty || form_password.touched)" class="row errors alert alert-danger errors_validation">
      <div *ngIf="form_password.errors.required" role="alert" class="message">
      Le mot de passe est obligatoire
      </div>
      <div *ngIf="!form_password.errors.valid && !form_password.errors.required" role="alert" class="message">
      Mot de passe trop faible.
      </div>
    </div>

    <div class="row confirmation">
      <input type="password" name="confirmation"
            required autocomplete = "off"
            title="Votre mot de passe doit inclure au moins 8 caractères et contenir des lettres minuscules et majuscules, des nombres ou des caractères spéciaux (par exemple, !, # ou $)."
            placeholder="Confirmez votre nouveau mot de passe"
            [(ngModel)]="password_confirm"
            #form_password_confirm="ngModel" />
    </div>

    <div *ngIf="!this.samePassword" class="row errors alert alert-danger errors_validation">
      <div role="alert" class="message">
      Les deux mots de passe ne correspondent pas
      </div>
    </div>

    <div class="row submit">
      <input type="submit" class="button big blue" value="Réinitialiser le mot de passe" [disabled]="!resetForm.form.valid"/>
    </div>
  </form>
</div>
{{reponseAPI.Code}}{{reponseValidateToken.Code}}
  <div class="auth-form forgot-password-success" *ngIf="reponseAPI.Code == 1">
    <div class="row labels">
      <h2>Réinitialiser le mot de passe</h2>
      <h3>Votre mot de passe a été réinitialisé avec succès.</h3>
    </div>
    <span class="link forgot-password">
      <a routerLink="/connexion">
     Retour à l'écran de connexion
      </a>
   </span>
  </div>
</div>
