<mat-form-field class="barre-recherche">
    <input [(ngModel)]="rechercheData" id="recherche" name="recherche" matInput placeholder="Rechercher">
</mat-form-field>
<div class="wrapper">
    <!-- Prend le terme de recherche "rechercheData"" et reprend le livre sélectionné "inSelectedLivre" de l'enfant "biblio-liste" et le rend disponible à tous. -->
    <div class="item1" *ngIf="rechercheData != null && rechercheData != ''">
        <app-biblio-liste [rechercheEnfant]="rechercheData" (selectedOutputEvent)="inSelectedLivre($event)"></app-biblio-liste>
    </div>
    <!-- Prend le livre sélectionné "selectedData" et la liste des tablettes "tablettesData et le passe à l'enfant "biblio-detail" -->
    <div class="item2" *ngIf="selectedData != null && rechercheData != null && rechercheData != ''">
        <app-biblio-detail [selectedEnfant]="selectedData" [tablettes]="tablettesData"></app-biblio-detail>
    </div>
    <div class="item3">
        <h2>Vos bibliothèques</h2>
        <p *ngIf="tablettesData == null">Vous n'avez aucune bibliothèque.</p>
        <app-biblio-tablette *ngIf="tablettesData != null" [tablettes]="tablettesData"></app-biblio-tablette>
        <div class="padding-top">
            <form #tabletteFormAjout="ngForm" id="tabletteFormAjout" (ngSubmit)="postTablette(tabletteFormAjout)">
                <mat-form-field class="input-full-width">
                    <input type="text" name="nom" id="nom" [(ngModel)]="newTablette.nom" required minlength="2" maxlength="50" #nom="ngModel" matInput placeholder="Nouvelle bibliothèque">
                    <button matSuffix mat-icon-button type="submit"><i class="material-icons">add</i></button>
                    <mat-error *ngIf="nom.invalid && (nom.dirty || nom.touched) && nom.hasError('required')">Le nom est obligatoire.</mat-error>
                    <mat-error *ngIf="nom.invalid && (nom.dirty || nom.touched) && nom.hasError('minlength')">Le nom doit contenir au moins 2 caractères.</mat-error>
                    <mat-error *ngIf="nom.invalid && (nom.dirty || nom.touched) && nom.hasError('maxlength')">Le nom doit contenir au maximum 50 caractères.</mat-error>
                </mat-form-field>
            </form>
        </div>
    </div>
</div>