<mat-form-field class="barre-recherche">
    <input [(ngModel)]="rechercheData" id="recherche" name="recherche" matInput placeholder="Rechercher">
</mat-form-field>
<div class="wrapper">
    <div class="item1" *ngIf="rechercheData != null && rechercheData != ''">
        <app-biblio-liste [rechercheEnfant]="rechercheData" (selectedOutputEvent)="inSelectedLivre($event)"></app-biblio-liste>
    </div>
    <div class="item2" *ngIf="selectedData != null && rechercheData != null && rechercheData != ''">
        <app-biblio-detail [selectedEnfant]="selectedData"></app-biblio-detail>
    </div>
    <div class="item3">
        <h2>Vos bibliothèques</h2>
        <p *ngIf="tablettesData == null">Vous n'avez aucune bibliothèque.</p>
        <app-biblio-tablette *ngIf="tablettesData != null" [tablettes]="tablettesData"></app-biblio-tablette>
        <div class="padding-top">
            <button class="ajout alignright" mat-fab (click)="openDialog()">+</button>
        </div>
    </div>
</div>