<div *ngIf="selectedLivre">
    <h1>{{selectedLivre.volumeInfo.title}}</h1>
    <h2>{{selectedLivre.volumeInfo.subtitle}}</h2>
    <img src = {{selectedLivre.volumeInfo.imageLinks.thumbnail}}><br>
    <span>
    <a href="{{selectedLivre.volumeInfo.previewLink}}">Aperçu</a>
    <a href="{{selectedLivre.volumeInfo.infoLink}}">Informations</a>
</span>
    <h3>Auteur(s): </h3>
    <ul>
        <li *ngFor="let author of selectedLivre.volumeInfo.authors">
            <h3>{{author}}</h3>
        </li>
    </ul>
    <h3>Date de parution: {{selectedLivre.volumeInfo.publishedDate}}</h3>
    <h3>Nombre de pages: {{selectedLivre.volumeInfo.pageCount}}</h3>
    <h3>Langue: "{{selectedLivre.volumeInfo.language}}"</h3>
</div>