<div class="livres" *ngIf="selectedEnfant">
    <mat-card class="example-card">
    <div class="wrapper">
        <div class="item1">
            <img src = {{selectedEnfant.volumeInfo.imageLinks.thumbnail}}><br>
            <span>
                <a href="{{selectedEnfant.volumeInfo.previewLink}}">Aperçu</a>
                <a href="{{selectedEnfant.volumeInfo.infoLink}}">Informations</a>
            </span>
        </div>
        <div class="item2">
            <h1>{{selectedEnfant.volumeInfo.title}}</h1><br>
            <h2>{{selectedEnfant.volumeInfo.subtitle}}</h2>
        </div>
        <div class="item3">
            <h3>Auteur(s): </h3>
            <ul>
                <li *ngFor="let author of selectedEnfant.volumeInfo.authors">
                    <h3>{{author}}</h3>
                </li>
            </ul>
            <h3>Date de parution: {{selectedEnfant.volumeInfo.publishedDate}}</h3>
            <h3>Nombre de pages: {{selectedEnfant.volumeInfo.pageCount}}</h3>
            <h3>Langue: "{{selectedEnfant.volumeInfo.language}}"</h3>
        </div>
    </div>
    </mat-card>
</div>