<form #classeFormAjout="ngForm" id="classeFormAjout" (ngSubmit)="onAdd(tableClasses, classeFormAjout);">
    <mat-form-field class="input-full-width">
        <input type="text" name="nom" required minlength="2" maxlength="50" [(ngModel)]="newClasse.nom" matInput #nom="ngModel" placeholder="Nouvelle classe">
        <button matSuffix  type="submit" mat-icon-button color="primary" [disabled]="!classeFormAjout.form.valid"><i class="material-icons">add</i></button>
        <mat-error *ngIf="nom.invalid && (nom.dirty || nom.touched) && nom.hasError('required')">Le nom est obligatoire.</mat-error>
        <mat-error *ngIf="nom.invalid && (nom.dirty || nom.touched) && nom.hasError('minlength')">Le nom doit contenir au moins 2 caractères.</mat-error>
        <mat-error *ngIf="nom.invalid && (nom.dirty || nom.touched) && nom.hasError('maxlength')">Le nom doit contenir au maximum 50 caractères.</mat-error>
    </mat-form-field>

</form>
<div>Da:{{userId }} - {{utilisateur.nom}}</div>
<!--<ul>
    <li *ngFor="let classe of classes; let i = index">
        {{i}} {{classe.nom}}
    </li>
</ul>-->
<div class="example-container mat-elevation-z8">
    <mat-table #tableClasses [dataSource]="classes" matSort>

        <ng-container matColumnDef="Description">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
            <mat-cell *matCellDef="let classe">
                <form #classeFormEdition="ngForm" id="classeFormEdition" (ngSubmit)="classeFormEdition.form.valid && onEdit(classeFormEdition)">
                    <mat-form-field *ngIf="(selectedClasse && selectedClasse === classe);else editNom;" class="input-full-width">
                        <input name="selectedClasseNom"
                               id="selectedClasseNom"
                               [(ngModel)]="selectedClasse.nom"
                               matInput required minlength="2"
                               maxlength="50" name="nomEdition"
                               #nomEdition="ngModel"
                               placeholder="Nom du cours">
                        <mat-error *ngIf="nomEdition.invalid && (nomEdition.dirty || nomEdition.touched) &&
                        nomEdition.hasError('required')">Le nom est obligatoire.</mat-error>
                        <mat-error *ngIf="nomEdition.invalid && (nomEdition.dirty || nomEdition.touched) &&
                        nomEdition.hasError('minlength')">Le nom doit contenir au moins 2 caractères.</mat-error>
                        <mat-error *ngIf="nomEdition.invalid && (nomEdition.dirty || nomEdition.touched) &&
                        nomEdition.hasError('maxlength')">Le nom doit contenir au maximum 50 caractères.</mat-error>
                    </mat-form-field>
                    <mat-form-field *ngIf="(selectedClasse && selectedClasse === classe);else editGroupe;">
                        <input class="input-full-width"
                               name="selectedClasseGroupe"
                               placeholder="numéro de groupe"
                               [(ngModel)]="selectedClasse.no_groupe"
                               matInput (keyup.enter)="onEdit(classe)" >
                    </mat-form-field>
                    <mat-form-field *ngIf="(selectedClasse && selectedClasse === classe);else editDebut;">
                        <input name="selectedClasseDebut"
                               placeholder="Date du début"
                               matInput [matDatepicker]="myDatepicker"
                               [(ngModel)]="selectedClasse.debut"
                               (click)="onEdit(classe)" >
                        <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #myDatepicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field *ngIf="(selectedClasse && selectedClasse === classe);else editFin;">
                        <input name="selectedClasseFin"
                               placeholder="Date de la fin"
                               matInput [matDatepicker]="myDatepicker"
                               [(ngModel)]="selectedClasse.fin" (click)="onEdit(classe)" >
                        <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                        <mat-datepicker #myDatepicker></mat-datepicker>
                    </mat-form-field>

                </form>
                <ng-template #editNom>
                    <h2 id="nom" (click)="onSelected(classe)">{{classe.nom}} -  </h2>
                </ng-template>
                <ng-template #editGroupe>
                    <span id="groupe" (click)="onSelected(classe)">Groupe#{{classe.no_groupe}}</span>
                    <p></p>
                </ng-template>
                <ng-template #editDebut>
                    <span (click)="onSelected(classe)">Du {{classe.debut | date:'dd/MM/yyyy'}}</span>
                </ng-template>
                <ng-template #editFin>
                    <span (click)="onSelected(classe)"> Au {{classe.fin | date:'dd/MM/yyyy'}}</span>
                </ng-template>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
            <mat-cell *matCellDef="let classe" class="boutonsAction">
                <button *ngIf="(selectedClasse && selectedClasse === classe);else editButton;" color="primary" form="classeFormEdition" mat-button><i class="material-icons">done</i></button>
                <ng-template #editButton>
                    <form (ngSubmit)="onSelected(classe)">
                        <button mat-button><i class="material-icons">edit</i></button>
                    </form>
                </ng-template>
                <form (ngSubmit)="onDelete(classe)">
                    <button mat-button ><i class="material-icons">delete</i></button>
                </form>
                <form>
                    <button mat-button ><i class="material-icons">people</i></button>
                </form>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
</div>

