<div>
  <div>
    <h1 class="padding-h1">Ajouter un Évèvenement</h1>
  </div>
</div>

<div>

  <form class="well" #evenementFormAjout="ngForm" id="evenementFormAjout" (submit)="addEvenement($event, evenementFormAjout)">

    <div>
      <mat-form-field class="padding-champs-formulaire">
        <input matInput placeholder="Nom" id="nom" name="nom" class="form-control" [(ngModel)]="evenementChoisi.text" #nom="ngModel" maxlength="255" required>
      </mat-form-field>

      <div *ngIf="nom.invalid && (nom.dirty || nom.touched)"
           class="alert alert-danger">

        <div *ngIf="nom.errors.required" class="">
          Le nom est requis.
        </div>
        <div *ngIf="nom.errors.maxlength" class="">
          Le nom à un maximum de 255 caractères
        </div>
      </div>
    </div>


    <div>
      <mat-form-field class="padding-champs-formulaire">
        <textarea matInput placeholder="Description" name="description" id="description" [(ngModel)]="evenementChoisi.description" #description="ngModel" required></textarea>
      </mat-form-field>

      <div *ngIf="description.invalid && (description.dirty || description.touched)"
           class="alert alert-danger">

        <div *ngIf="description.errors.required">
          La description est requise.
        </div>
      </div>
    </div>

    <div>
      <div>
        <label for="categorie">Categorie *</label>
      </div>
      <mat-form-field class="padding-champs-formulaire">
        <mat-select id="categorie" name="categorie" [(ngModel)]="evenementChoisi.categorie" #categorie="ngModel" required="">
          <mat-option>Veuillez choisir...</mat-option>
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="categorie.invalid && (categorie.dirty || categorie.touched)"
           class="alert alert-danger">

        <div *ngIf="categorie.errors.required">
          La categorie est requise.
        </div>
      </div>
    </div>

    <div>
      <mat-form-field class="padding-champs-formulaire">
        <input matInput [matDatepicker]="date_debut" placeholder="Date de début" name="date_debut" id="date_debut" [(ngModel)]="evenementChoisi.start_date" #date_debut="ngModel" required>
        <mat-datepicker-toggle matSuffix [for]="date_debut"></mat-datepicker-toggle>
        <mat-datepicker #date_debut></mat-datepicker>
      </mat-form-field>

      <div *ngIf="date_debut.invalid && (date_debut.dirty || date_debut.touched)"
           class="alert alert-danger">

        <div *ngIf="date_debut.errors.required">
          La date de début est requise.
        </div>
      </div>
    </div>

    <div>
      <mat-form-field class="padding-champs-formulaire">
        <input matInput [matDatepicker]="date_fin" placeholder="Date de fin" name="date_fin" id="date_fin" [(ngModel)]="evenementChoisi.end_date" #date_fin="ngModel" required>
        <mat-datepicker-toggle matSuffix [for]="date_fin"></mat-datepicker-toggle>
        <mat-datepicker #date_fin></mat-datepicker>
      </mat-form-field>

      <div *ngIf="date_fin.invalid && (date_fin.dirty || date_fin.touched)"
           class="alert alert-danger">

        <div *ngIf="date_fin.errors.required">
          La date de fin est requise.
        </div>
      </div>
    </div>

    <div>
      <div>
        <label for="type">Type *</label>
      </div>
      <mat-form-field class="padding-champs-formulaire">
        <mat-select id="type" name="type" [(ngModel)]="evenementChoisi.type" #type="ngModel" required="">
          <mat-option>Veuillez choisir...</mat-option>
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="type.invalid && (type.dirty || type.touched)"
           class="alert alert-danger">

        <div *ngIf="type.errors.required">
          Le type est requis.
        </div>
      </div>
    </div>

    <div>
      <div>
        <label for="groupe">Groupe *</label>
      </div>
      <mat-form-field class="padding-champs-formulaire">
        <mat-select id="groupe" name="groupe" [(ngModel)]="evenementChoisi.group_id" #groupe="ngModel" required="">
          <mat-option>Veuillez choisir...</mat-option>
          <mat-option *ngFor="let groupe of groupes" value="{{groupe._id}}">{{groupe.nom}}</mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="groupe.invalid && (groupe.dirty || groupe.touched)"
           class="alert alert-danger">

        <div *ngIf="groupe.errors.required">
          Le groupe est requis.
        </div>
      </div>
    </div>

    <div>
      <div>
        <label for="admin_id">Admin *</label>
      </div>
      <mat-form-field class="padding-champs-formulaire">
        <mat-select id="admin_id" name="admin_id" [(ngModel)]="evenementChoisi.admin_id" #admin_id="ngModel" required="">
          <mat-option>Veuillez choisir...</mat-option>
          <mat-option value="1">Option 1</mat-option>
          <mat-option value="2">Option 2</mat-option>
          <mat-option value="3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="admin_id.invalid && (admin_id.dirty || admin_id.touched)"
           class="alert alert-danger">

        <div *ngIf="admin_id.errors.required">
          L'admin est requis.
        </div>
      </div>
    </div>

    <div class="padding-champs-formulaire">
      <mat-checkbox name="actif" id="actif" [(ngModel)]="evenementChoisi.active">Actif</mat-checkbox>
    </div>

    <div class="padding-champs-formulaire">
      <button type="submit" mat-button>Enregistrer</button>
    </div>

  </form >
</div>
