    <div id="tableauEvenements" class="example-container mat-elevation-z8">
      <mat-table #tableEvents [dataSource]="events">

        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
          <mat-cell *matCellDef="let selectedEvent"> {{selectedEvent._id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="categorie">
          <mat-header-cell *matHeaderCellDef> Categorie </mat-header-cell>

          <mat-cell *matCellDef="let events">
            <mat-form-field *ngIf="(selectedEvent && selectedEvent === events);else editCat;">
              <input [(ngModel)]="selectedEvent.categorie" matInput (keyup.enter)="onEdit(events)" >
            </mat-form-field>
            <ng-template #editCat>{{events.categorie}}</ng-template>
          </mat-cell>
        </ng-container>



        <ng-container matColumnDef="dateDebut">
          <mat-header-cell *matHeaderCellDef> Date de début </mat-header-cell>
          <mat-cell *matCellDef="let events">
            <mat-form-field *ngIf="(selectedEvent && selectedEvent === events);else editDateDebut;">
              <input [(ngModel)]="selectedEvent.start_date" matInput (keyup.enter)="onEdit(events)" >
            </mat-form-field>
            <ng-template #editDateDebut><span (click)="onSelected(events)"></span>{{events.start_date}}</ng-template>
          </mat-cell>
        </ng-container>


        <ng-container matColumnDef="dateFin">
          <mat-header-cell *matHeaderCellDef> Date de Fin </mat-header-cell>
          <mat-cell *matCellDef="let events">
            <mat-form-field *ngIf="(selectedEvent && selectedEvent === events);else editDateFin;">
              <input [(ngModel)]="selectedEvent.end_date" matInput (keyup.enter)="onEdit(events)" >
            </mat-form-field>
            <ng-template #editDateFin>{{events.end_date}}</ng-template>
          </mat-cell>
        </ng-container>



        <ng-container matColumnDef="text">
        <mat-header-cell *matHeaderCellDef> Texte </mat-header-cell>
        <mat-cell *matCellDef="let events">
          <mat-form-field *ngIf="(selectedEvent && selectedEvent === events);else editText;">
            <input [(ngModel)]="selectedEvent.text" matInput (keyup.enter)="onEdit(events)" >
          </mat-form-field>
          <ng-template #editText>{{events.text}}</ng-template>
        </mat-cell>
      </ng-container>


        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
          <mat-cell *matCellDef="let events">
            <mat-form-field *ngIf="(selectedEvent && selectedEvent === events);else editdescription;">
              <input [(ngModel)]="selectedEvent.description" matInput (keyup.enter)="onEdit(events)" >
            </mat-form-field>
            <ng-template #editdescription>{{events.description}}</ng-template>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef> Type d'évènement </mat-header-cell>
          <mat-cell *matCellDef="let events">
            <mat-form-field *ngIf="(selectedEvent && selectedEvent === events);else edittype;">
              <input [(ngModel)]="selectedEvent.type" matInput (keyup.enter)="onEdit(events)" >
            </mat-form-field>
            <ng-template #edittype>{{events.type}}</ng-template>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="groupe">
          <mat-header-cell *matHeaderCellDef> groupe </mat-header-cell>
          <mat-cell *matCellDef="let events">
            <mat-form-field *ngIf="(selectedEvent && selectedEvent === events);else editgroupe;">
              <input [(ngModel)]="selectedEvent.group_id" matInput (keyup.enter)="onEdit(events)" >
            </mat-form-field>
            <ng-template #editgroupe>{{events.group_id}}</ng-template>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Actions </mat-header-cell>
          <mat-cell *matCellDef="let events">
            <button *ngIf="(selectedEvent && selectedEvent === events);else editButton;" color="warn"  mat-button (click)="onEdit(events)"><i class="material-icons">done</i></button>
            <ng-template #editButton><button mat-button (click)="onSelected(events)"><i class="material-icons">edit</i></button></ng-template>

          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>
    </div>






