<h2>Ajout d une publication</h2>
<form>
  <div id="form-div">
    <mat-form-field>
        <input matInput id="titre" name="titre" placeholder="Titre" required>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput id="contenu" name="contenu" placeholder="Contenu" required>
    </mat-form-field>
    <br>



    <!--<div>
      <div>
        <label class="labels">Tags: </label>
        <div class="inputs">
          <input type="button" class="button" (click)="popup()" value="+">
        </div>
      </div>

      a mettre sur des div differents et de faire un display: inline

      DAPHHHHHHHOUNE  MET TES AFFAIRES DE TAGS ICI !!!!!!!!!!!!!!!! pis tu peut effacer se que j ai mit la

      <p id="autreTag"></p>
      <div id="choixTag" class="popup">
        <div class="popup-content">
          <span class="close" (click)="closePopup()">&times;</span>
          <label class="labels">Entrez un tag : </label>
          <input autofocus class="inputs" [(ngModel)]="value" name="tags" placeholder="Entrez votre tag" maxlength="50" id="texteTag">
          <input type="button" class="button" (click)="ajoutTag(); closePopup()" value="Ajouter">
        </div>
      </div>
    </div>

    <div>-->


</div>
</form>
<button class="ajout" (click)="popupGroup()" mat-fab>Groupe</button>
<form (ngSubmit)="publier()">
  <div>
    <br>
    <div class="popup" id="allGroup">
      <span class="close" (click)="closePopupGroup()">&times;</span>
      <ul>
        <p id="listGroup"></p>
        <li *ngFor="let groupe of groupesUtilisateur">
            <mat-checkbox>{{groupe.nom}}</mat-checkbox>
        </li>
      </ul>
    </div>
    <br>
    <div>
      <label class="labels">Choix de fichier :</label><br>
      <input class="button" type="file" name="fichier" id="fichier">
    </div>
    <br>
    <mat-form-field>
      <mat-label class="labels">Date de remise :</mat-label><br>
      <input matInput id="date_remise" class="inputs" type="date" name="date_remise">
    </mat-form-field>
    <br>
    <input class="inputs" type="submit" value="Publier !" id="button-blue">
  </div>
</form>