<mat-card>
    <mat-card-title>Créer un nouvel utilisateur</mat-card-title>
    <mat-card-content>

        <form (submit)="register($event)">

            <mat-form-field>
                <input matInput [(ngModel)]="utilisateur.da" name="utilisateur.da" placeholder="Numéro de DA">
            </mat-form-field>

            <mat-form-field>
                <input matInput [(ngModel)]="utilisateur.nom" name="utilisateur.nom" placeholder="Nom">
            </mat-form-field>

            <mat-form-field>
                <input matInput [(ngModel)]="utilisateur.prenom" name="utilisateur.prenom" placeholder="Prénom">
            </mat-form-field>

            <mat-form-field>
                <input matInput [(ngModel)]="utilisateur.courriel" name="utilisateur.courriel" placeholder="Courriel">
            </mat-form-field>

            <!--TODO: Faire fonctionner le champ date -->
            <!--<mat-form-field>-->
            <input type="date" [(ngModel)]="utilisateur.datedenaissance" name="utilisateur.datedenaissance"
                   placeholder="Date de naissance">
            <!--</mat-form-field>-->

            <mat-form-field>
                <input matInput [(ngModel)]="utilisateur.codepermanent" name="utilisateur.codepermanent"
                       placeholder="Code permanent">
            </mat-form-field>

            <mat-form-field>
                <input matInput [(ngModel)]="utilisateur.programme" placeholder="Programme (Doit être un number) Ex: 5">
            </mat-form-field>

            <mat-radio-group [(ngModel)]="utilisateur.sexe" name="utilisateur.sexe">
                <mat-radio-button value="Homme">Homme</mat-radio-button>
                <mat-radio-button value="Femme">Femme</mat-radio-button>
            </mat-radio-group>


            <mat-form-field>
                <input matInput [(ngModel)]="utilisateur.role" placeholder="Rôle (Doit être un number) Ex: 5">
            </mat-form-field>

            <mat-form-field>
                <input matInput [(ngModel)]="utilisateur.motdepasse" name="utilisateur.motdepasse"
                       placeholder="Mot de passe">
            </mat-form-field>

            <mat-form-field>
                <input matInput [(ngModel)]="utilisateur.photo" name="utilisateur.photo" placeholder="Photo">
            </mat-form-field>

            <button mat-raised-button color="primary">Inscrire</button>

        </form>

    </mat-card-content>
</mat-card>


<!--</div>-->
<!--<h2>Hello {{utilisateur.nom}}</h2>-->
<!--<form (submit)="register($event)">-->
<!--<div class="form-group">-->
<!--<input type="text" [(ngModel)]="utilisateur.da" name="utilisateur.da" class="form-control" placeholder="Numéro de DA">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<input type="text" [(ngModel)]="utilisateur.nom" name="utilisateur.nom" class="form-control" placeholder="Nom">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<input type="text" [(ngModel)]="utilisateur.prenom" name="utilisateur.prenom" class="form-control" placeholder="Prénom">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<input type="text" [(ngModel)]="utilisateur.courriel" name="utilisateur.courriel" class="form-control" placeholder="Courriel">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<input type="date" [(ngModel)]="utilisateur.datedenaissance" name="utilisateur.datedenaissance" class="form-control" placeholder="Date de naissance">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<input type="text" [(ngModel)]="utilisateur.codepermanent" name="utilisateur.codepermanent" class="form-control" placeholder="Code permanent">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<input type="text" [(ngModel)]="utilisateur.programme" name="utilisateur.programme" class="form-control" placeholder="Programme">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<input type="text" [(ngModel)]="utilisateur.sexe" name="utilisateur.sexe" class="form-control" placeholder="Sexe">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<input type="text" [(ngModel)]="utilisateur.role" name="utilisateur.role" class="form-control" placeholder="Rôle">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<input type="text" [(ngModel)]="utilisateur.motdepasse" name="utilisateur.motdepasse" class="form-control" placeholder="Mot de passe">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<input type="text" [(ngModel)]="utilisateur.photo" name="utilisateur.photo" class="form-control" placeholder="Photo">-->
<!--</div>-->

<!--<input type="submit" class="button" value="Enregistrer"/>-->
<!--</form>-->