<!--<div class="example-container">-->
    <!--<mat-form-field>-->
        <!--<input matInput placeholder="DA">-->
    <!--</mat-form-field>-->
    <!--<br>-->

    <!--<mat-form-field>-->
        <!--<input matInput placeholder="Prénom">-->
    <!--</mat-form-field>-->
    <!--<br>-->

    <!--<mat-form-field>-->
        <!--<input matInput placeholder="Nom">-->
    <!--</mat-form-field>-->
    <!--<br>-->

    <!--<mat-form-field>-->
        <!--<input matInput placeholder="Courriel">-->
    <!--</mat-form-field>-->
    <!--<br>-->

    <!--<mat-form-field>-->
        <!--<input matInput placeholder="Nom">-->
    <!--</mat-form-field>-->
    <!--<br>-->

<!--</div>-->


<!--<form class="well" (submit)="registerUtilisateur($event)" >-->
    <!--<div class="form-group">-->
        <!--<input type="text" [(ngModel)]="da" name="da" class="form-control" placeholder="Numéro de DA">-->
    <!--</div>-->
<!--</form>-->