<mat-card>
    <mat-card-title>{{titreDeLaPage}}</mat-card-title>
    <mat-card-content>

        <div class="errors"  *ngIf="reponseAPI.Code > 1">
            <div role="alert" class="message">
                {{reponseAPI.Message}}
            </div>
            <br>
        </div>

        <div class="success"  *ngIf="reponseAPI.Code === 1">
            <div role="alert" class="message">
                {{reponseAPI.Message}}
            </div>
            <br>
        </div>

        <form #utilisateurFormAjout="ngForm" id="utilisateurFormAjout" (submit)="save($event, utilisateurFormAjout)">

            <!-- DA -->
            <mat-form-field>
                <input matInput [(ngModel)]="utilisateur.da" required minlength="2" maxlength="50" #da="ngModel" name="utilisateur.da" placeholder="Numéro de DA">
                <mat-error *ngIf="da.invalid && (da.dirty || da.touched) && da.hasError('required')">Le DA est obligatoire.</mat-error>
                <mat-error *ngIf="da.invalid && (da.dirty || da.touched) && da.hasError('minlength')">Le DA doit contenir au moins 2 caractères.</mat-error>
                <mat-error *ngIf="da.invalid && (da.dirty || da.touched) && da.hasError('maxlength')">Le DA doit contenir au maximum 50 caractères.</mat-error>
            </mat-form-field>

            <!-- Nom -->
            <mat-form-field>
                <input matInput [(ngModel)]="utilisateur.nom" required minlength="2" maxlength="50" #nom="ngModel" name="utilisateur.nom" placeholder="Nom">
                <mat-error *ngIf="nom.invalid && (nom.dirty || nom.touched) && nom.hasError('required')">Le nom est obligatoire.</mat-error>
                <mat-error *ngIf="nom.invalid && (nom.dirty || nom.touched) && nom.hasError('minlength')">Le nom doit contenir au moins 2 caractères.</mat-error>
                <mat-error *ngIf="nom.invalid && (nom.dirty || nom.touched) && nom.hasError('maxlength')">Le nom doit contenir au maximum 50 caractères.</mat-error>
            </mat-form-field>

            <!-- Prénom -->
            <mat-form-field>
                <input matInput [(ngModel)]="utilisateur.prenom" required minlength="2" maxlength="50" #prenom="ngModel" name="utilisateur.prenom" placeholder="Prénom">
                <mat-error *ngIf="prenom.invalid && (prenom.dirty || prenom.touched) && prenom.hasError('required')">Le prénom est obligatoire.</mat-error>
                <mat-error *ngIf="prenom.invalid && (prenom.dirty || prenom.touched) && prenom.hasError('minlength')">Le prénom doit contenir au moins 2 caractères.</mat-error>
                <mat-error *ngIf="prenom.invalid && (prenom.dirty || prenom.touched) && prenom.hasError('maxlength')">Le prénom doit contenir au maximum 50 caractères.</mat-error>
            </mat-form-field>

            <!-- Courriel -->
            <mat-form-field>
                <input matInput [(ngModel)]="utilisateur.courriel" required minlength="5" pattern="^[^\s@＠=]+[@|＠][^\.\s@＠]+(\.[^\.\s@＠]+)+$" #courriel="ngModel" name="utilisateur.courriel" placeholder="Courriel">
                <mat-error *ngIf="courriel.invalid && (courriel.dirty || courriel.touched) && courriel.hasError('required')">Le courriel est obligatoire.</mat-error>
                <mat-error *ngIf="courriel.invalid && (courriel.dirty || courriel.touched) && courriel.hasError('minlength')">Le courriel doit contenir au moins X caractères.</mat-error>
                <mat-error *ngIf="courriel.invalid && (courriel.dirty || courriel.touched) && !courriel.hasError('minlength') && courriel.hasError('pattern')">Le courriel doit respecter le format traditionnel d'un courriel.</mat-error>
            </mat-form-field>

            <!-- Date de naissance -->
            <mat-form-field>
                <input matInput [matDatepicker]="picker" [(ngModel)]="utilisateur.datedenaissance" required #datedenaissance="ngModel" name="utilisateur.datedenaissance" placeholder="Date de naissance">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="datedenaissance.invalid && (datedenaissance.dirty || datedenaissance.touched) && datedenaissance.hasError('required')">La date de naissance est obligatoire.</mat-error>
                <!--<mat-error *ngIf="datedenaissance.invalid && (datedenaissance.dirty || datedenaissance.touched) && datedenaissance.hasError('type')">La date de naissance doit être de type "date"</mat-error>-->
            </mat-form-field>

            <!-- Code permanent -->
            <mat-form-field>
                <input matInput [(ngModel)]="utilisateur.codepermanent" required minlength="2" maxlength="50" #codepermanent="ngModel" name="utilisateur.codepermanent"
                       placeholder="Code permanent">
                <mat-error *ngIf="codepermanent.invalid && (codepermanent.dirty || codepermanent.touched) && codepermanent.hasError('required')">Le code permanent est obligatoire.</mat-error>
                <mat-error *ngIf="codepermanent.invalid && (codepermanent.dirty || codepermanent.touched) && codepermanent.hasError('minlength')">Le code permanent doit contenir au moins 2 caractères.</mat-error>
                <mat-error *ngIf="codepermanent.invalid && (codepermanent.dirty || codepermanent.touched) && codepermanent.hasError('maxlength')">Le code permanent doit contenir au maximum 50 caractères.</mat-error>
            </mat-form-field>

            <!-- Programme -->
            <mat-form-field>
                <mat-select [(ngModel)]="utilisateur.programme" #role="ngModel" name="utilisateur.programme" placeholder="Programme">
                    <mat-option *ngFor="let programme of programmes" [value]="programme._id">
                        {{ programme.nom }}
                    </mat-option>
                </mat-select>
                <!--<mat-error *ngIf="type.invalid && (type.dirty || type.touched) && type.hasError('required')">Le type est obligatoire.</mat-error>-->
            </mat-form-field>

            <mat-radio-group [(ngModel)]="utilisateur.sexe" required #sexe="ngModel" name="utilisateur.sexe">
                <mat-radio-button value="Homme">Homme</mat-radio-button>
                <mat-radio-button value="Femme">Femme</mat-radio-button>
                <mat-error *ngIf="sexe.invalid && (sexe.dirty || sexe.touched) && sexe.hasError('required')">Le sexe est obligatoire.</mat-error>
            </mat-radio-group>

            <!-- Rôle -->
            <mat-form-field>
                <mat-select [(ngModel)]="utilisateur.type" #role="ngModel" name="utilisateur.type" placeholder="Type">
                    <mat-option *ngFor="let type of types" [value]="type._id">
                        {{ type.nom }}
                    </mat-option>
                </mat-select>
                <!--<mat-error *ngIf="type.invalid && (type.dirty || type.touched) && type.hasError('required')">Le type est obligatoire.</mat-error>-->
            </mat-form-field>

            <!-- Mot de passe -->
            <mat-form-field>
                <input type="password" matInput [(ngModel)]="utilisateur.motdepasse" required minlength="5" maxlength="100" #password="ngModel" name="utilisateur.motdepasse"
                       placeholder="Mot de passe">
                <mat-error *ngIf="password.invalid && (password.dirty || password.touched) && password.hasError('required')">Le mot de passe est obligatoire.</mat-error>
                <mat-error *ngIf="password.invalid && (password.dirty || password.touched) && password.hasError('minlength')">Le mot de passe doit contenir au moins 5 caractères.</mat-error>
                <mat-error *ngIf="password.invalid && (password.dirty || password.touched) && password.hasError('maxlength')">Le mot de passe doit contenir au maximum 50 caractères.</mat-error>
            </mat-form-field>

            <!-- Photo -->
            <mat-form-field>
                <input matInput [(ngModel)]="utilisateur.photo" #photo="ngModel" name="utilisateur.photo" placeholder="URL de la photo">
            </mat-form-field>

            <button mat-raised-button color="primary">{{titreDuBoutonEnregistrement}}</button>

            <!-- Temporaire -->
            <h3>Object ID de test: 5ae24fa820405a42f8e78724</h3>
            <!-- / Temporaire -->

        </form>

    </mat-card-content>
</mat-card>