mat-card-title {
    text-align: center;
}

mat-form-field {
    width: 100%;
}

.errors div.message {
    background-color: rgba(214, 40, 34, 0.07);
    border: 1px solid rgba(214, 40, 34, 0.36);
    color: #d62822;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 10px 30px
}

.success div.message {
    background-color: rgba(26, 214, 7, 0.16);
    border: 1px solid rgba(39, 187, 31, 0.63);
    color: #309e3b;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 10px 30px
}