<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<h2>Mes groupes </h2>
<form class="deleteGroupe" id="deleteGroupe" (submit)="deleteGroupe($event)">
	<div class="form-group row">
				<label class="col-md-2 required">
					Supprimer :
				</label>
				<input type=text placeholder="Numéro id" class="form-control col-md-10" id="id" name="id">
	</div>
	<input type="submit" value="Supprimer">
</form>
<ul class="Groupe">
  <li *ngFor="let groupe of groupes">
    <span class="badge">{{groupe.id}}</span> {{groupe.nom}} <button type="button">Modifier</button> <button type="button">Supprimer</button>
  </li>
</ul>