/* Application-wide Styles */
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}
h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
body {
    margin: 2em;
}
body, input[text], button {
    color: #888;
    font-family: Cambria, Georgia;
}
/* everywhere else */
* {
    font-family: Arial, Helvetica, sans-serif;
}


/* groupeComponent's private CSS styles */
.selected {
    background-color: #CFD8DC !important;
    color: white;
}
.groupe {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
}
.groupe li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
}
.groupe li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
}
.groupe li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}
.groupe .text {
    position: relative;
    top: -3px;
}
.groupe .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}

#selectedGroupeNom, #selectedGroupeGroupe{
    clear:both;
}
.mat-column-actions {
    flex: 0 0 100px;
}
#nom, #groupe{
    font-weight: bold;
}

.example-full-width {
    width: 100%;
}


/*RADIO BUTTON*/
.radioButtondemoBasicUsage body {
    padding: 20px; }

.radioButtondemoBasicUsage hr {
    margin-left: -20px;
    opacity: 0.3; }

.radioButtondemoBasicUsage md-radio-group {
    width: 150px; }

.radioButtondemoBasicUsage p:last-child {
    padding-bottom: 50px; }

.radioButtondemoBasicUsage [ng-controller] {
    padding: 0 20px; }

.radioButtondemoBasicUsage .radioValue {
    margin-left: 5px;
    color: #0f9d58;
    font-weight: bold;
    padding: 5px; }

.radioButtondemoBasicUsage md-icon {
    margin: 0 20px 20px;
    width: 128px;
    height: 128px; }

.radioButtondemoBasicUsage .ipsum {
    color: saddlebrown;
    font-size: 0.9em; }
